<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "EpicApp" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
    <![endif]-->
</head>
  <body>
    <div align="center">
      <img src="http://epicgrouppa.com/wp-content/themes/Theme/SimplePress/images/logo.png">
    </div>
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Epic", root_path, class: "navbar-brand" %>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">OUR COMPANY<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "THE POWER OF EPIC", pages_power_of_epic_path %></li>
                <li><%= link_to "PROFESSIONAL AFFILIATION", pages_prof_affiliation_path %></li>
                <li><%= link_to "OUR PEOPLE", pages_our_people_path %></li>
                <li><%= link_to "OUR COMMITMENT", pages_our_commitment_path %></li>
                <li><%= link_to "ETHICAL STANDARDS", pages_ethical_standard_path %></li>
                <li><%= link_to "EXECUTIVES", pages_executives_path %></li>
                <li><%= link_to "LICENSES & CERTIFICATIONS", pages_lic_and_cert_path %></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">HOW IT WORKS<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "THE EPIC ADVANTAGE", pages_epic_advantage_path %></li>
                <li><%= link_to "THE EPIC APPROACH", pages_epic_approach_path %></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">HAVE YOU SUFFERED DAMAGE?<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "FLOOD DAMAGE", pages_flood_path %></li>
                <li><%= link_to "WATER DAMAGE & MOLD", pages_water_and_mold_path %></li>
                <li><%= link_to "WINDSTORMS & HURRICANES", pages_wind_and_hurricane_path  %></li>
                <li><%= link_to "COLLAPSE & SINKHOLES", pages_collapse_and_sinkhole_path %></li>
                <li><%= link_to "MULTI-CAUSATION", pages_multi_cause_path %></li>
                <li><%= link_to "OTHER PERILS", pages_other_cause_path %></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">FILLING A CLAIM<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "COMMERCIAL", pages_commercial_path %></li>
                <li><%= link_to "RESIDENTIAL", pages_residential_path %></li>
                <li><%= link_to "RETAIL", pages_retail_path %></li>
                <li><%= link_to "MEDICAL FACILITIES", pages_medical_path %></li>
                <li><%= link_to "INDUSTRIAL", pages_industrial_path %></li>
                <li><%= link_to "SERVICE INDUSTRY", pages_service_path %></li>
                <li><%= link_to "INVESTMENT PROPERTIES", pages_investment_prop_path %></li>
                <li><%= link_to "HOUSES OF WORSHIP", pages_worship_path %></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">RESOURCES<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "FAQs", pages_faq_path %></li>
                <li><%= link_to "ARTICLES", pages_articles_path %></li>
                <li><%= link_to "PREPARING FOR A DISASTER", pages_prepare_path %></li>
                <li><%= link_to "HELPFUL LINKS", pages_links_path %></li>
                <li><%= link_to "SUCCESS STORIES", pages_stories_path %></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </li>
            <li><%= link_to "Contact Us", contacts_path  %></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div><!--/row-->

      <footer>
        <p>&copy; Company 2016</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>